{% block _formaction_properties_row %}
    <div class="row">
        <div class="col-xs-12 mb-md">
            <h4 class="mb-sm">{{ 'mautic.lead.lead.update.action.help'|trans }}</h4>
            <div class="alert alert-info">
                <div>
                    <p>{{ 'mautic.lead.lead.events.updatelead_descr'|trans|purify }}</p>
                    <p class="mb-0">{{ 'mautic.lead.lead.events.updatelead_descr_form'|trans|purify }}</p>
                </div>
            </div>
        </div>
        {% for child in form.children %}
            <div class="form-group col-md-6 col-xs-12">
                {{ form_label(child) }}
                {{ form_widget(child) }}
                {{ form_errors(child) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
