{% extends '@MauticCore/FormTheme/form_simple.html.twig' %}
{% form_theme form with [
    '@MauticSms/FormTheme/SmsSendList/smssend_list_row.html.twig'
] %}

{% block mauticContent %}sms{% endblock %}
{# @var sms \Mautic\SmsBundle\Entity\Sms #}
{% set type            = sms.getSmsType() %}
{% set isExisting      = sms.getId() %}
{% set translationBase = 'mautic.sms' %}
{% set mauticContent   = 'sms' %}

{% block primaryFormContent %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="characters-count">
            <span class="control-label" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="{{ 'mautic.sms.form.nbcharacter.infobox'|trans }}">
                {{ 'mautic.sms.form.nbcharacter.counter'|trans }}
                <span size="sm" class="label label-gray" id="sms_nb_char">0</span>
            </span>
        </div>
        {{ form_row(form.message) }}
        <i class="text-secondary">{{ 'mautic.sms.token.dropdown.hint'|trans|purify }}</i>

    </div>
</div>

<div class="row {% if not sms.getIsMms() %}hide{% endif %}" id="media_div">
    <div class="col-md-12">
        <div class="control-label">{{ form.media.vars.label|trans }}</div>
    </div>
    <div class="col-md-5">
        <button type="button" id="upload_mms_media" class="btn btn-primary" onclick="javascript:Mautic.loadNewWindow({windowUrl:'{{ path('mautic_base_index') }}elfinder?editor=media_form'})">
            <i class="ri-file-upload-line"></i> {{ 'mautic.lead.import.upload'|trans }}
        </button>
    </div>
    <div class="col-md-2">
        {{ 'mautic.core.or'|trans }}
    </div>
    <div class="col-md-5">
        <div class="input-group sms-media-url-group">
            <input type="text" id="media_url" class="form-control" placeholder="{{ 'mautic.sms.type_media_url'|trans }}" />
            <button type="button" class="btn btn-secondary sms-media-upload-btn" onclick="Mautic.addMediaFromUrl()" aria-label="{{ 'mautic.sms.type_media_url'|trans }}">
                <i class="ri-file-upload-line"></i>
            </button>
        </div>
        <p id="media_url_error" class="help-block text-danger hide"></p>
    </div>
    <div class="col-md-12">
        <ul id="media_row">
        {% for field in form.media %}
            {% set url = field.vars.value %}
            {% set id = field.vars.id %}
            <li id="li_{{ id }}">
                {{ form_widget(field) }}
                <label for="{{ id }}"><img src="{{ url }}" alt="{{ 'mautic.sms.type_media_url'|trans }}" /></label>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-12">
        <div class="has-error">{{ form_errors(form.media) }}</div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-info mt-10">
            {{ 'mautic.sms.form.mms.media.infobox'|trans|raw }}
        </div>
    </div>
</div>
{% endblock %}

{% block rightFormContent %}
{{ form_row(form.category) }}
{{ form_row(form.projects) }}
{{ form_row(form.language) }}
{{ form_row(form.translationParentSelector) }}
{{ form_row(form.isPublished, {
    'attr': {
        'data-none': 'mautic.core.form.sending_paused',
        'data-start': 'mautic.core.form.sending_on_scheduled_start',
        'data-both': 'mautic.core.form.sending_during_scheduled_period',
        'data-end': 'mautic.core.form.available_until_scheduled_end'
    }
}) }}
{{ form_row(form.isMms) }}

<div id="leadList"{% if 'template' == type %} class="hide"{% endif %}>
    {{ form_row(form.lists) }}
    {{ form_row(form.publishUp, {'label': 'mautic.core.form.sending.start_at'}) }}
    {{ form_row(form.publishDown, {'label': 'mautic.core.form.sending.stop_at'}) }}
</div>

<div class="hide">
    {{ form_rest(form) }}
</div>

{% if (updateSelect is not defined or updateSelect is empty) and not isExisting and not formContainsErrors(form) or type is empty %}
    {{- include('@MauticCore/Helper/form_selecttype.html.twig',
        {
            'item'       : sms,
            'mauticLang' : {
                'newListSms'     : 'mautic.sms.type.list.header',
                'newTemplateSms' : 'mautic.sms.type.template.header',
            },
            'typePrefix'         : 'sms',
            'cancelUrl'          : 'mautic_sms_index',
            'header'             : 'mautic.sms.type.header',
            'typeOneHeader'      : 'mautic.sms.type.template.header',
            'typeOnePictogram': 'process--automation',
            'typeOneTag'         : 'mautic.sms.type.template.tag',
            'typeOneDifferences' : ['mautic.sms.type.template.differences.1st', 'mautic.sms.type.template.differences.2nd', 'mautic.sms.type.template.differences.3rd', 'mautic.sms.type.template.differences.4th', 'mautic.sms.type.template.differences.5th'],
            'typeOneOnClick'     : "Mautic.selectSmsType('template');",
            'typeTwoHeader'      : 'mautic.sms.type.list.header',
            'typeTwoTag'         : 'mautic.sms.type.list.tag',
            'typeTwoPictogram': 'chart--pie',
            'typeTwoDifferences' : ['mautic.sms.type.list.differences.1st', 'mautic.sms.type.list.differences.2nd', 'mautic.sms.type.list.differences.3rd', 'mautic.sms.type.list.differences.4th', 'mautic.sms.type.list.differences.5th'],
            'typeTwoOnClick'     : "Mautic.selectSmsType('list');",
        }
    ) -}}
{% endif %}
{% endblock %}
