{% extends '@MauticCore/Default/content.html.twig' %}
{% block mauticContent %}stage{% endblock %}
{% block headerTitle %}
    {% if entity.getId() %}
        {{ 'mautic.stage.menu.edit'|trans({'%name%' : entity.getName()|trans}) }}
    {% else %}
        {% trans %}mautic.stage.menu.new{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box-layout">
        <!-- container -->
        <div class="col-md-9 height-auto bdr-r">
            <div class="row">
                <div class="col-md-6">
                    <div class="pa-md">
                        {{ form_row(form.name) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pa-md">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 height-auto">
            <div class="pr-lg pl-lg pt-md pb-md">
                {{ form_row(form.weight) }}
                {% if stageWeights|length %}
                    <div class="table-responsive mt-sm mb-32" id="stage-weight-sequence"
                         data-weights='{{ stageWeights|json_encode|escape('html_attr') }}'
                         data-weight-field-id="{{ form.weight.vars.id }}"
                         data-entity-id="{% if entity.getId() %}{{ entity.getId() }}{% endif %}">
                        <div class="text-muted mb-xs">{{ 'mautic.stage.weight.current_sequence'|trans }}</div>
                        <table class="table table-condensed mb-0">
                            <thead>
                                <tr>
                                    <th>{{ 'mautic.stage.stage'|trans }}</th>
                                    <th>{{ 'mautic.stage.action.weight'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in stageWeights %}
                                    <tr>
                                        <td>{{ s.name }}</td>
                                        <td>{{ s.weight }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}
                {{ form_row(form.category) }}
                {{ form_row(form.projects) }}
                {{ form_row(form.isPublished) }}
                {{ form_row(form.publishUp) }}
                {{ form_row(form.publishDown) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
