{% block _config_companyconfig_widget %}
<h4 class="fw-sb mt-48 mb-xs">{{ 'mautic.config.tab.company.merge.settings'|trans }}</h4>
<div class="text-muted small pb-md">{{ 'mautic.core.config.header.company.merge.settings.description'|trans }}</div>
<div class="row">
    <div class="panel panel-default mb-md">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.company_unique_identifiers_operator) }}
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="fw-sb mt-48 mb-xs">{{ 'mautic.config.tab.company.list.settings'|trans }}</h4>
<div class="text-muted small pb-md">{{ 'mautic.core.config.header.company.list.settings.description'|trans }}</div>
<div class="row">
    <div class="panel panel-default mb-md">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.company_columns) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
